<ion-view class="about-view">
  	<ion-nav-title>
   		<span>About</span>
     </ion-nav-title> 	
  	<ion-content>
		<div class="list card" >
			 <div class="item item-avatar" >
    				<img src="#"> 
    				<h2>Name </h2>
   				   <p>EDITION</p>
  			</div>
  			<div class="item item-body">
    				<img class="full-image" src="#">
    				<p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    				</p>

  			</div>

  				<a href="#" class="item item-icon-right">
    					<i class="icon ion-ios-home"></i>
    					    Visit Website
  				</a>
  				<a href="#" class="item item-icon-right">
    					<i class="icon ion-ios-email"></i>
    					    Send Email
  				</a>
  				<a href="#" class="item item-icon-right">
    					<i class="icon ion-social-twitter"></i>
    					    Twitter
  				</a>
  				<a href="#" class="item item-icon-right">
    					<i class="icon ion-social-facebook"></i>
    					    Facebook
  				</a>
  				<a href="#" class="item item-icon-right">
    					<i class="icon ion-social-github"></i>
    					    GitHub
  				</a>	
		</div>    
  	</ion-content>
</ion-view>



