<ion-view class="about-view">
  	<ion-nav-title>
   		<span>About</span>
     </ion-nav-title> 	
  	<ion-content>
		<div class="list card" >
			 <div class="item item-avatar" >
    				<img src="{{about.photo}}"> 
    				<h2>{{about.nameEvent}}</h2>
   				   <p>{{about.edition}}</p>
  			</div>
  			<div class="item item-body">
    				<img class="full-image" src="{{about.photo}}">
    				<p>
            {{about.description}}
    				</p>

  			</div>

  				<a href="{{about.webSite}}" class="item item-icon-right">
    					<i class="icon ion-ios-home"></i>
    					    Visit Website
  				</a>
  				<a href="mailto:{{about.email}}" class="item item-icon-right">
    					<i class="icon ion-ios-email"></i>
    					    Send Email
  				</a>
  				<a href="{{about.twitter}}" class="item item-icon-right">
    					<i class="icon ion-social-twitter"></i>
    					    Twitter
  				</a>
  				<a href="{{about.facebook}}" class="item item-icon-right">
    					<i class="icon ion-social-facebook"></i>
    					    Facebook
  				</a>
  				<a href="{{about.github}}" class="item item-icon-right">
    					<i class="icon ion-social-github"></i>
    					    GitHub
  				</a>	
		</div>    
  	</ion-content>
</ion-view>



