<ion-view class="schedule-view">
  <ion-nav-title>
    <span>Schedule</span>
  </ion-nav-title>

  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <span>08:00 </span>
        <span>- 09:00</span>
      </div>
      <a class="col col-75" style="background-color:#E6E6E6;text-decoration: none;" ui-sref="app.details({detailsId: 1})">
        <p>Example Talk 1</p>
        <p><span>Example Speaker 1</span></p>
		<div>Talk</div>
      </a>
    </div>
	
    <div class="row">
      <div class="col">
        <span>09:00 </span>
        <span>- 10:00</span>
      </div>
      <a class="col col-75" style="background-color:#E6E6E6;text-decoration: none;" ui-sref="app.details({detailsId: 2})">
        <p>Example Talk 2</p>
        <p><span>Example Speaker 2</span></p>
		<div>Talk</div>
      </a>
    </div>

    <div class="row">
      <div class="col">
        <span>10:00 </span>
        <span>- 11:00</span>
      </div>
      <a class="col col-75" style="background-color:#E6E6E6;text-decoration: none;" ui-sref="app.details({detailsId: 3})">
        <p>Example Talk 3</p>
        <p><span>Example Speaker 3</span></p>
		<div>Talk</div>
      </a>
    </div>
	
  </ion-content>
</ion-view>
