<ion-view class="speakers-view">
  <ion-nav-title>
    <span>Speakers</span>
  </ion-nav-title>
  <ion-content>

    <div class="list card">
      <div class="item">
        <h2>Speaker Example 1</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="http://devevents.github.io/conf-app-boilerplate/static/img/speakers/speaker-example.jpg">
      </div>
      <div class="item item-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div>
          <div class="row">
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">@example1</a>
            </div>
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">Talk Example 1</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Speaker Example 2</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="http://devevents.github.io/conf-app-boilerplate/static/img/speakers/speaker-example.jpg">
      </div>
      <div class="item item-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div>
          <div class="row">
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">@example2</a>
            </div>
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">Talk Example 2</a>
            </div>
          </div>
        </div>
      </div>
    </div>
	
  </ion-content>
</ion-view>
