ion-view.about-view
  ion-nav-title
    span About
  ion-content
    .about
      .item.title
        h2.about-name {{about.name}}
        p.about-edition {{about.edition}}
      .item.item-image
        img.full-image.about-image(ng-src="{{about.logo}}")
      .item.item-body
        p.about-description(ng-bind-html="about.description | rawHtml")
        .about-buttons
          .row
            .col
              a.button.button-small.button-outline.button-block(ng-if="about.contact.website", href="", ng-click="goToUrl('http://{{about.contact.website}}')") Visit Website
              a.button.button-small.button-outline.button-block(ng-if="about.contact.email", href="", ng-click="goToUrl('mailto:{{about.contact.email}}')") Send Email
              a.button.button-small.button-outline.button-block(ng-if="about.contact.twitter", href="", ng-click="goToUrl('http://twitter.com/{{about.contact.twitter}}')") Twitter
              a.button.button-small.button-outline.button-block(ng-if="about.contact.facebook", href="", ng-click="goToUrl('http://www.facebook.com/{{about.contact.facebook}}')") Facebook
              a.button.button-small.button-outline.button-block(ng-if="about.contact.github", href="", ng-click="goToUrl('http://https://github.com/{{about.contact.github}}')") Github
