.item.title
  h2.sponsor-name {{sponsor.name}}

.item.item-image
    img.full-image.sponsor-image(ng-src="{{sponsor.logo}}")
.item.item-body
  p.sponsor-description(ng-bind-html="sponsor.description | rawHtml")
  .sponsor-buttons
    .row
      .col(ng-if="sponsor-website")
        a.button.button-small.button-outline.button-block(ng-click="goToUrl('http://{{sponsor.website}}')") Visit Website
