
<ion-view class="partners-view">
  <ion-nav-title><span>Partners</span></ion-nav-title>
  <ion-content>
    <div ng-repeat="partner in partners" class="card">
      <div class="list partner">
        <div class="item title">
          <h2 class="partner-name">{{partner.name}}</h2>
        </div>
        <div class="item item-image"><img ng-src="{{partner.logo}}" class="full-image partner-image"/></div>
        <div class="item item-body">
          <p ng-bind-html="partner.description | rawHtml" class="partner-description"></p>
          <div class="partner-buttons">
            <div class="row">
              <div ng-if="partner.website" class="col"><a href="" ng-click="goToUrl('http://{{partner.website}}')" class="button button-small button-outline button-block">Visit Website</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>