
<ion-view class="sponsors-view">
  <ion-nav-title class="has-tabs-top"><span>Sponsors</span></ion-nav-title>
  <ion-tabs class="tabs-striped tabs-top tabs-color-light">
    <ion-tab title="GOLD" class="tab-title">
      <ion-pane>
        <ion-content class="padding">
          <div>
            <div ng-repeat="sponsor in sponsors.gold" class="card">
              <div sponsor-details="" class="sponsor-details"></div>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
    <ion-tab title="SILVER" class="tab-title">
      <ion-pane>
        <ion-content class="padding">
          <div>
            <div ng-repeat="sponsor in sponsors.silver" class="card">
              <div sponsor-details="" class="sponsor-details"></div>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
    <ion-tab title="BRONZE" class="tab-title">
      <ion-pane>
        <ion-content class="padding">
          <div>
            <div ng-repeat="sponsor in sponsors.bronze" class="card">
              <div sponsor-details="" class="sponsor-details"></div>
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>